.navbar {
    background-image: linear-gradient(to right, rgb(124, 10, 10), rgb(194, 28, 28), rgb(226, 88, 64));
    color: azure;
}

.navbar-logo{
    display: inline-block;
    vertical-align: middle;
    width: 70px;
  }.navbar-logo img{
    display: block;
    width: 100%;
    height: auto;
  }