.navbar {
  background-image: linear-gradient(to bottom right, rgb(48, 66, 60), rgb(198, 98, 103),rgb(198, 98, 103));
  z-index: 11;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  opacity: 90%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

.nav-link {
  margin-left: 20px;
  margin-right: 30px;
  color: black;
}

.navbar-brand {
  margin-left: 10px;
}

footer {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-image: linear-gradient(to bottom right, rgb(48, 66, 60), rgb(198, 98, 103),rgb(198, 98, 103));
}

footer p {
  color: black;
}

footer a {
  text-decoration: none;
  color: black;
}

.navbar-logo {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
}

.navbar-logo img {
  display: block;
  width: 55%;
  height: auto;
  
}

#cr {
  font-size: 2cm;
  font-family: sans-serif;

}

#cb {
  font-size: 1.5cm;
  border: 2px solid #d5dadf;
  border-radius: 1px;
  box-shadow: 8px 6px 2px #07101a;
  color: aliceblue;
  text-shadow: 8px 6px 2px #07101a;
}

.card-group {
  color: #d5dadf;
  font-size: 0.6cm;
}

.card-title {
  color: #d5dadf;
  font-size: 0.8cm;
}

#pcr {
  font-size: 0.6cm;
}

.card {
  background-image: linear-gradient(to bottom right, rgb(48, 66, 60),  rgb(198, 98, 103),rgb(198, 98, 103),rgb(198, 98, 103),rgb(198, 98, 103));

  opacity: 80%;
  flex: 1 200px;
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 30px;
  border: 2px solid #070707;
  border-radius: 10px;
  box-shadow: 0px 0px 2px #ebf0f5;
  
}

#in {
  background-image: linear-gradient(to right, rgb(198, 98, 103), rgb(198, 98, 103), rgb(48, 66, 60));
  color: rgb(8, 8, 8);
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(56, 48, 48), 0 0 5px rgb(90, 89, 89);
  
  font-family: "Helvetica";
  font-size: 35px;
  
}

body {

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
}

.tabla1 {
  margin-top: 1em;
}

.tabla1 th,
.tabla1 td {
  text-align: center;
  padding: .2em .5em;
  color: darkorange;
}

.tabla1 caption {
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  margin-bottom: .5em;
}

.tabla1 tr {
  border-bottom: 1px solid black;
}

.tabla2 {
  margin-top: 2em;
}

.tabla2 th,
.tabla2 td {
  text-align: center;
  padding: .2em .5em;
  color: rgb(129, 55, 55);
  border: 1px solid rgb(201, 52, 52);
}

.tabla2 caption {
  text-align: left;
  margin-bottom: 5px;
  font-variant: small-caps;
  font-size: 30px;
  letter-spacing: 5px;
}

.tabla2 td {
  text-align: left;
  font-size: .8em;
  padding-bottom: 3em;
  padding-right: 3em;
}

.tabla2 td:hover {
  background-color: rgb(235, 154, 154);
  cursor: pointer;
  font-size: 1.6em;
  text-align: center;
  padding: 0;
}